@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>About Mason</h2>

    <div style="text-align: center; border-radius: 25px; padding: 2px; margin: 20px; border: 2px solid #808080;">
        <img src="https://universitypolicy.gmu.edu/wp-content/themes/kuma/library/images/homepage-static-headers/kuma-slide-917x253-4.jpg"
             alt="Static Header Image for University Policy" height="375" width="1000"
             style="border:5px solid double #808080; padding: 15px; margin: 15px;" />
    </div>

    <h3 style="text-align: center;">University Leadership</h3>
    <p class="lead">
        We are a progressive, diverse university and our leadership reflects that.
        We come from many different backgrounds, many different places, and each of us brings
        something different to the table
    </p>
    <br />
    <h3 style="text-align: center;">Accessibility</h3>
    <p class="lead">
        Mason provides information regarding the physical access of all campuses and online accessibility
        of programs and services. Information for disability related services and resources available to all
        employees, students, and visitors the entire university include physical access to buildings, parking
        policies, and emergency evacuation procedures
    </p>
    <br />
    <h3 style="text-align: center;">Diversity at Mason</h3>
    <p class="lead">
        Diversity is one of our core values; everyone is welcome here. Mason was recently named the most diverse
        university in Virginia by U.S. News & World Report.
    </p>
    <br />
    <h3 style="text-align: center;">University Policy</h3>
    <p class="lead">
        The purpose of this University Policy web site is to ensure that the University community has ready
        access to well-articulated and understandable University policies. Policies that are easy to find, read
        and understand will help the university accomplish its mission, maintain accountability, provide employees
        and students with clear and concise guidelines, and clarify how the university conducts business.
    </p>
</div>